{% extends 'header_logged.html' %}
{% block contenido %}


<div class="container-fluid py-5" id="background2">
    <div class="row text-center my-3">
        <h1 class="text-white">Eventos</h1>
        <button class="btn btn-primary w-25 mx-auto my-2"><a class="text-white text-decoration-none" href="/eventos/create/">Nuevo evento</a></button>
    </div>
    <div class="container">
        <form id='form' method='get'>
            <div class="row">
                {% for field in eventFilter.form %}
                <div class="col-6 my-1 filter-row text-left">
                    <p class="text-white">{{field.label}}</p>
                    {{field}}
                </div>

                {% endfor %}
                <div class="col-6 mt-2 ">
                    <div class="row">
                        <input type='submit' class="page-link w-25" value='Filtrar'/>
                        <a href="/eventos/" class="btn btn-danger w-25 rounded-0 ml-2">
                            Borrar filtros
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% for evento, length in items %}
    <!--TIENES QUE LLAMAR AL NOMBRE DE LA VARIABLE QUE HAS PUESTO EN EL CONTROLADOR-->
    <div class="row justify-content-center my-5">
        <div class="card w-50">
            <img class="card-img-top w-50 img-fluid mx-auto"
                src="http://astrolove.herokuapp.com/{{evento.photo}}"
                alt="Card image cap">
            <div class="card-body text-justify">
                <h5 class="card-title">{{evento.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{evento.description}}
                    / {{evento.date | date:'d-m-Y H:i'}}</h6>
                <h6 class="card-subtitle mb-2 text-muted"><strong>Número de participantes: </strong>{{length}}</h6>
                <button class="btn btn-primary w-25 mx-auto my-2"><a class="text-white text-decoration-none" href="/eventos/show/{{evento.id}}">Ver detalles</a></button>
                {% if user.is_staff %}
                <button class="btn btn-danger w-25 mx-auto my-2"><a class="text-white text-decoration-none" href="/eventos/delete/{{evento.id}}">Borrar evento</a></button>
                {% endif %}
            </div>
        </div>
    </div>
    <!--Y CIERRA EL FOR-->
    {% endfor %}

</div>
{% endblock %}