{% extends 'header_logged.html' %} {% block contenido %}

<div id="background5" class="container-fluid text-center py-5">
  <div class="row py-5" style="color: white">
    <h1>Bienvenido {{user.first_name}}</h1>
  </div>
  <div class="row my-3" style="color: white">
    <p>Estamos encantados de volver a verte.</p>
  </div>
  <div class="row" style="color: white">
    <p>
      Aquí podrás disponer de una amplia gama de funcionalidades que están a tu
      alcance en la barra superior
    </p>
    <p></p>
    <p>No te olvides de darle amor a las fotos que mas te gusten!!!</p>
    <p></p>
  </div>

  <div class="row my-5" style="color: white">
    <p>Un universo entero te está esperando!!!</p>
  </div>
  <div class="row">
    <div id="background1" class="col-4">
    </div>
    <div id="background2" class="col-4">

    </div>
    <div id="background3" class="col-4">

    </div>
  </div>
</div>

{% endblock %}
