{% extends 'header_logged.html' %}
{% block contenido %}
<div class="container">
    <div class="row my-4">
        <h1>Mi perfil</h1>
    </div>
</div>
{% if not form %}
<div class="container my-5">
    <div class="row mt-5">
        <div class="col-lg-4 text-center">
            <img class="img-fluid w-50"
                src="http://127.0.0.1:8000/{{usuario.profilePicUrl}}" alt="">
            <h3 class="my-4">Foto de perfil</h3>
        </div>
        <div class="col-lg-8 ml-5">
            <div class="row mx-5">
                <p><strong>Nombre completo: </strong>{{usuario.nombreCompleto}}</p>
            </div>
            <div class="row mx-5">
                <p><strong>Nombre de usuario: </strong>{{usuario.user.username}}</p>
            </div>
            <div class="row mx-5">
                <p><strong>E-mail: </strong>{{usuario.user.email}}</p>
            </div>
            <div class="row mx-5">
                <p><strong>Dirección: </strong>{{usuario.address}}</p>
            </div>
            <div class="row mx-5">
                <p><strong>Ciudad: </strong>{{usuario.city}}</p>
            </div>
            <button type="button" class="btn btn-primary  mx-5 my-4 w-25">
            <a class="text-white text-decoration-none" href="update/">Modificar</a>
            </button>
        </div>
    </div>
    
</div>
{% endif %}
{% if form %}
<div class="container my-5">
    <div class="row">
        <div class="col-4 text-center">
                <img class="img-fluid w-50"
                    src="http://127.0.0.1:8000/{{usuario.profilePicUrl}}" alt="">
                <h3 class="my-4">Foto de perfil</h3>
        </div>
        <div class="col-8">
            <form id='form' method='post' class="mx-5" enctype='multipart/form-data'>
                {% csrf_token %}
                {% for field, valor in items %}
                {% if field.label != "Foto de perfil" %}
                <div class="my-3">
                    <strong><label for="field">{{field.label_tag}}</label></strong>
                    <input id="field" type="{{field.type}}" name="{{field.name}}"
                    value="{{valor}}">
                    {% for error in field.errors %}
                    <p class="text-danger">{{ error|escape }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                {% if field.label == "Foto de perfil" %}
                <div class="my-3">
                    <strong><label for="field">{{field.label_tag}}</label></strong>
                    {{field}}
                    {% for error in field.errors %}
                    <p class="text-danger">{{ error|escape }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                {% endfor %}
                <div class="d-flex w-25">
                    <input type='submit' class="btn btn-outline btn-primary mt-4"
                    value='Confirmar'/>
                </div>
            </form>
        </div>
    </div>
        
</div>
{% endif %}
{% endblock %}